$accent: #311C3B;
$font: "Special Elite", cursive;

/*******************************
320PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 320px) {
  body {
    font-family: $font;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .left-nav {
    background: url('../images/notebook.png');
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    border-right: 1px dashed black;
    text-align: center;
    z-index: 0;
    img {
      margin: 10% 0 5% 0;
      border-radius: 100%;
      width: 85%;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    a:hover {
      text-decoration: none;
    }
  }

  .nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }

  label[for="nav-trigger"] {
    position: fixed;
    margin: 2%;
    z-index: 2;
    cursor: pointer;
  }

  .nav-contact-phone {
    position: fixed;
    margin: 2% 2% 2% .5%;
    z-index: 2;
  }

  .nav-contact-email {
    position: fixed;
    margin: 5% 2% 2% .5%;
    z-index: 2;
  }

  .nav-trigger:checked + label {
    left: 251px;
  }

  .nav-trigger:checked ~ .right-body {
    left: 251px;
  }

  .nav-trigger + label, .right-body {
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;
  }

   .right-body {
     background: url('../images/notebook.png');
     min-width: 100%;
     min-height: 100%;
     position: relative;
     top: 0;
     bottom: 100%;
     left: 0;
     z-index: 1;
     overflow-x: hidden;
   }

   body {
     overflow-x: hidden;
   }


   /*******************************
   ROTATE TRANSITION
   ********************************/
   .rotate {
     display: inline-block;
   }

   .rotate:hover {
     cursor: none;
       -webkit-transform: rotateZ(-30deg);
       -ms-transform: rotateZ(-30deg);
       transform: rotateZ(-30deg);
   }
   /*******************************/

   #top {
     height: 145px;
     margin: 0 0 5% 10%;
     padding-top: 5%;
     img {
       border-radius: 10px;
       width: 25%;
       display: block;
       margin: 0 auto;
       -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
       -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
       box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     }
   }

   /*******************************
   ROLLING TEXT KEYFRAME
   ********************************/

   .text-scroll p {
     height: 20px;
     float: left;
     white-space: nowrap;
     position: relative;
     font-size: 18px;
     font-weight: bold;
     margin-top: 15%;
   }

   .text-scroll {
     max-height: 50px;
     max-width: 300px;
     margin: 0 auto;
     padding-left: 2%;
     float: left;
   }

   .scrolling-words {
     overflow: hidden;
     height: 54px;
     padding-left: 10px;
     margin-top: 13%;
   }

   .scrolling-words  p {
     margin: 0 0 30px;
     padding-top: 5px;
     white-space: nowrap;
      -webkit-animation: move 8s 1s infinite;
      -moz-animation: move 8s 1s infinite;
      -o-animation: move 8s 1s infinite;
      animation: move 8s 1s infinite;
     font-size: 18px;
     letter-spacing: .5px;
   }

   @-moz-keyframes move {
     0%  { top:  0px;   }
     20% { top: -53px;  }
     40% { top: -112px; }
     60% { top: -168px; }
     80% { top: -0px;   }
     100% { top: -0px;  }
   }

   @-o-keyframes move {
     0%  { top:  0px;   }
     20% { top: -53px;  }
     40% { top: -112px; }
     60% { top: -168px; }
     80% { top: -0px;   }
     100% { top: -0px;  }
   }

   @-webkit-keyframes move {
     0%  { top:  0px;   }
     20% { top: -53px;  }
     40% { top: -112px; }
     60% { top: -168px; }
     80% { top: -0px;   }
     100% { top: -0px;  }
   }

   @keyframes move {
     0%  { top:  0px;   }
     20% { top: -53px;  }
     40% { top: -112px; }
     60% { top: -168px; }
     80% { top: -0px;   }
     100% { top: -0px;  }
   }

   /*******************************/

   #portfolio {
     margin: 20% 0 15% 10%;
     div {
       width: 100%;
       margin: 0;
       display: inline-block;
     }
     img {
       width: 100%;
       margin-bottom: 5%;
       border-radius: 10px;
       -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
       -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
       box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     }
     h3 {
       font-weight: bold;
     }
     a {
       float: right;
     }
   }

   #skills {
       margin: 8% 0 15% 10%;
     section {
       margin: 0 4% 0 10%;
     }
     .devicons {
       font-size: 100px;
     }
     div {
       text-align: center;
     }
     h3 {
       text-align: center;
     }
     article {
       width: 45%;
       margin-right: 4%;
       display: inline-block;
     }
   }

   #about {
     margin: 8% 0 15% 10%;
     p {
       padding: 0 4% 0 2%;
     }
     a {
       color: #64006D;
     }
   }

   #resume {
     margin: 8% 0 10% 10%;
     div {
       width: 90%;
       margin-left: 5%;
     }
     ul {
       list-style-type: square;
     }
   }

   .resume-link {
     text-align: center;
     h3 {
       padding: 5%;
     }
   }

   #recommendations {
     margin: 5% 0 15% 10%;
     div {
       padding: 0 4% 0 2%;
     }
   }

   .left-rec {
     width: 90%;
     margin-left: 6%;
     margin-bottom: 5%;
     display: inline-block;
   }

   .right-rec {
     width: 90%;
     margin-left: 6%;
     display: inline-block;
   }

   footer {
     p {
       text-align: center;
       padding: 5%;
       margin: 0;
     }
   }
}
/*******************************
END 320PX MEDIA QUERY
********************************/

/*******************************
340PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 340px) {
  #portfolio {
    div {
      width: 95%;
      margin: 0 0 0 5%;
      display: inline-block;
    }
  }
}
/*******************************
END 340PX MEDIA QUERY
*******************************/

/*******************************
380PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 380px) {
  #portfolio {
    div {
      width: 90%;
      margin: 0 5% 0 5%;
      display: inline-block;
    }
  }

  .text-scroll {
    margin-left: 10%;
  }
}
/*******************************
END 380PX MEDIA QUERY
*******************************/

/*******************************
460PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 460px) {
  .text-scroll {
    margin-left: 20%;
  }
}
/*******************************
END 460PX MEDIA QUERY
*******************************/

/*******************************
520PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 520px) {

  /*******************************
  ROLLING TEXT KEYFRAME
  ********************************/

  .text-scroll p {
    height: 20px;
    float: left;
    white-space: nowrap;
    position: relative;
    font-size: 28px;
    font-weight: bold;
    margin-top: 15%;
  }

  .text-scroll {
    max-height: 45px;
    max-width: 425px;
    margin: 0 auto;
    padding-left: 2%;
    float: left;
  }

  .scrolling-words {
    overflow: hidden;
    position: relative;
    height: 54px;
    padding-left: 10px;
    margin-top: 13%;
  }

  .scrolling-words  p {
    margin: 0 0 30px;
    padding-top: 7px;
    position: relative;
    white-space: nowrap;
    -webkit-animation: move 8s 1s infinite;
    -moz-animation: move 8s 1s infinite;
    -o-animation: move 8s 1s infinite;
    animation: move 8s 1s infinite;
    font-size: 28px;
    letter-spacing: 1px;
  }

  @-moz-keyframes move {
    0%  { top:  0px;   }
    20% { top: -53px;  }
    40% { top: -109px; }
    60% { top: -168px; }
    80% { top: -0px;   }
    100% { top: -0px;  }
  }

  @-o-keyframes move {
    0%  { top:  0px;   }
    20% { top: -53px;  }
    40% { top: -109px; }
    60% { top: -168px; }
    80% { top: -0px;   }
    100% { top: -0px;  }
  }

  @-webkit-keyframes move {
    0%  { top:  0px;   }
    20% { top: -53px;  }
    40% { top: -109px; }
    60% { top: -168px; }
    80% { top: -0px;   }
    100% { top: -0px;  }
  }

  @keyframes move {
    0%  { top:  0px;   }
    20% { top: -53px;  }
    40% { top: -109px; }
    60% { top: -168px; }
    80% { top: -0px;   }
    100% { top: -0px;  }
  }
  /*******************************/
}
/*******************************
END 520PX MEDIA QUERY
*******************************/

/*******************************
580PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 580px) {
  .text-scroll {
    margin-left: 10%;
  }
}
/*******************************
END 580PX MEDIA QUERY
*******************************/

/*******************************
700PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 700px) {
  .text-scroll {
    margin-left: 20%;
  }
}
/*******************************
END 700PX MEDIA QUERY
*******************************/


/*******************************
992PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 992px) {
  body {
    background: url('../images/notebook.png');
  }

  input, label {
    display: none;
  }

  .right-body {
    background: none;
    min-width: 0;
    width: 76%;
    margin-left: 2%;
    float: right;
  }

  .left-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    border-right: 1px dashed black;
    text-align: center;
    img {
      margin: 10% 0 5% 0;
      border-radius: 100%;
      width: 85%;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    a:hover {
      text-decoration: none;
    }
  }

  #top, #portfolio, #skills, #about, #resume, #recommendations, footer {
    width: 98%;
    margin-left: 2%;
  }

  #top {
    height: 200px;
    img {
      border-radius: 10px;
      width: 25%;
      display: block;
      float: right;
      margin: 0 4% 0% 1%;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
  }

  /*******************************
  ROLLING TEXT KEYFRAME
  ********************************/

  .text-scroll p {
    height: 20px;
    float: left;
    white-space: nowrap;
    position: relative;
    font-size: 36px;
    font-weight: bold;
    margin-top: 18%;
  }

  .text-scroll {
    max-height: 50px;
    max-width: 500px;
    margin: 0 auto;
    padding-left: 0;
    float: left;
  }

  .scrolling-words {
    overflow: hidden;
    height: 54px;
    padding-left: 15px;
    margin-top: 17%;
  }

  .scrolling-words  p {
    margin: 0 0 30px;
    padding-top: 5px;
    white-space: nowrap;
    -webkit-animation: move 8s 1s infinite;
    -moz-animation: move 8s 1s infinite;
    -o-animation: move 8s 1s infinite;
    animation: move 8s 1s infinite;
    font-size: 36px;
    letter-spacing: 1px;
  }

  @-moz-keyframes move {
    0%  { top:  0px;   }
    20% { top: -53px;  }
    40% { top: -109px; }
    60% { top: -164px; }
    80% { top: -0px;   }
    100% { top: -0px;  }
  }

  @-o-keyframes move {
    0%  { top:  0px;   }
    20% { top: -53px;  }
    40% { top: -109px; }
    60% { top: -164px; }
    80% { top: -0px;   }
    100% { top: -0px;  }
  }

  @-webkit-keyframes move {
    0%  { top:  0px;   }
    20% { top: -53px;  }
    40% { top: -109px; }
    60% { top: -164px; }
    80% { top: -0px;   }
    100% { top: -0px;  }
  }

  @keyframes move {
    0%  { top:  0px;   }
    20% { top: -53px;  }
    40% { top: -109px; }
    60% { top: -164px; }
    80% { top: -0px;   }
    100% { top: -0px;  }
  }
  /*******************************/

  #portfolio {
    margin: 0;
    margin-top: 20%;
    div {
      width: 45%;
      margin: 0;
      margin-right: 4%;
      display: inline-block;
    }
    img {
      width: 100%;
      margin-bottom: 5%;
      border-radius: 10px;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .port-top {
      margin-bottom: 5%;
    }
    h3 {
      font-weight: bold;
    }
    a {
      float: right;
    }
  }

  #skills {
    margin: 0;
    margin-top: 8%;
    article {
      width: 20%;
    }
  }

  #about {
    margin: 0;
    margin-top: 8%;
  }

  #resume {
    margin: 0;
    margin-top: 8%;
    div {
      padding: 0 4% 0 2%;
    }
  }

  #recommendations {
    margin: 7% 0 15% 0;
    div {
      padding: 0 4% 0 2%;
    }
  }

  .left-rec {
    width: 40%;
    margin: 0;
    display: inline-block;
    border-right: 1px dashed black;
  }

  .right-rec {
    width: 40%;
    margin: 0;
    display: inline-block;
    text-align: right;
  }

  footer p {
    text-align: right;
    margin: 0 4% 2% 0;
  }
}
/*******************************
END 992PX MEDIA QUERY
*******************************/

/*******************************
1124PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 1124px) {
  /*******************************
  ROLLING TEXT KEYFRAME
  ********************************/

  .text-scroll p {
    height: 20px;
    float: left;
    white-space: nowrap;
    position: relative;
    font-size: 43px;
    font-weight: bold;
    margin-top: 22%;
  }

  .text-scroll {
    max-height: 50px;
    max-width: 586px;
    margin: 0 auto;
    padding-left: 0;
    float: left;
  }

  .scrolling-words {
    overflow: hidden;
    height: 54px;
    padding-left: 15px;
    margin-top: 21%;
  }

  .scrolling-words  p {
    margin: 0 0 30px;
    padding-top: 5px;
    white-space: nowrap;
    -webkit-animation: move 8s 1s infinite;
    -moz-animation: move 8s 1s infinite;
    -o-animation: move 8s 1s infinite;
    animation: move 8s 1s infinite;
    font-size: 43px;
    letter-spacing: 1px;
  }

  @-moz-keyframes move {
    0%  { top:  0px;   }
    20% { top: -53px;  }
    40% { top: -109px; }
    60% { top: -164px; }
    80% { top: -0px;   }
    100% { top: -0px;  }
  }

  @-o-keyframes move {
    0%  { top:  0px;   }
    20% { top: -53px;  }
    40% { top: -109px; }
    60% { top: -164px; }
    80% { top: -0px;   }
    100% { top: -0px;  }
  }

  @-webkit-keyframes move {
    0%  { top:  0px;   }
    20% { top: -53px;  }
    40% { top: -109px; }
    60% { top: -164px; }
    80% { top: -0px;   }
    100% { top: -0px;  }
  }

  @keyframes move {
    0%  { top:  0px;   }
    20% { top: -53px;  }
    40% { top: -109px; }
    60% { top: -164px; }
    80% { top: -0px;   }
    100% { top: -0px;  }
  }
  /*******************************/
}
/*******************************
END 1124PX MEDIA QUERY
*******************************/

/*******************************
1500PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 1500px) {
  .container {
    max-width: 80%;
    margin: 0 auto;
  }
}
